
<!doctype html>
<html lang="en-US">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>500 - 对不起，服务端出现严重错误！</title>
<link rel="stylesheet" type="text/css" href="../styles/error/error.css">
<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>
<div id="wrapper"><a class="logo" href="/"></a>
  <div id="main">
    <header id="header">
      <h1><span class="icon">!</span>500<span class="sub">Server Error</span></h1>
    </header>
    <div id="content">
      <h2>服务端出现严重错误！！</h2>
      <p>当您看到这个页面,表示服务端出现严重错误！此错误不是你的操作导致的，而是服务端的问题，请联系我们，感谢！</p>
      <div class="utilities">

        <a class="button right" href="#" onClick="history.go(-1);return true;">返回...</a>
        <div class="clear"></div>
      </div>
    </div>

  </div>
</div>
</html>