<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>爬虫启动页</title>
</head>
<body>
    <form action="stepSpider" method="POST">
        <table>
            <tr>
                <td>SVN起始目录</td>
                <td><input type="text" name="SVNURL" ></td>
            </tr>
            <tr>
                <td>SVN用户名</td>
                <td><input type="text" name="username" ></td>
            </tr>
            <tr>
                <td>SVN密码</td>
                <td><input type="text" name="password" ></td>
            </tr>
            <tr>
                <td><input type="reset" value="重置"></td>
                <td><input type="submit" value="开始爬取"></td>
            </tr>
        </table>
    </form>
</body>
</html>